* {
    box-sizing: border-box;
}

$border-test: 1px solid black;
$main-width: 1626px;
body {
    border: $border-test;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.container {
    max-width: $main-width;
    margin: 0 auto;
    box-shadow: 0 3px #00000029;
}

.nav__menu {
    display: flex;
    flex-direction: end;
}

.nav__item {
    margin-left: 95px;
    text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #A5A5A5;
    transition: 0.5s;
    padding: 27px;
}

.nav__item:hover {
    color: black;
    font-size: 15px;
    border-bottom: 6px solid #08A6E4;
}

.logo {
    color: #08A6E4;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}


/*////////////////////////////*/

header {
    max-width: $main-width;
    margin: 0 auto;
    border: $border-test;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.header__description li:first-child {
    font-family: 'Raleway';
    font-size: 49px;
    margin-bottom: 20px;
}

.header__description li:nth-child(2) {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 38px;
}

.header__description button {
    background-color: #08A6E4;
    border-radius: 40px 40px 40px 40px;
    padding: 22px 157px 22px 157px;
    box-shadow: #07ACE629 5px 10px;
    border: none;
    opacity: 14px;
}

.container__background {
    max-width: $main-width;
    height: 500px;
}

.header__background {
    width: 100%;
    height: 100%;
    background: url(img/assets/background.png);
    box-shadow: 0 3px #00000029;
    margin-bottom: 30px;
}


/**************************/

article {
    margin: 0 auto;
    padding: 0 100px;
    border: $border-test;
    width: $main-width;
    height: 531px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .article__top {
        margin-top: 100px;
        font-family: 'Raleway';
        font-size: 36px;
    }
    .article__bottom {
        width: 100%;
        display: flex;
        justify-content: space-around;
        .article__bottom__item {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin-top: 100px;
            width: 175px;
            height: 175px;
            .article__circle {
                width: 62px;
                height: 62px;
                border-radius: 50%;
                position: absolute;
            }
            .article__icon {
                height: 63px;
                width: 63px;
                background-repeat: no-repeat;
                position: relative;
                left: 40px;
                top: 70px;
            }
            .article__text-1 {
                font-family: 'Raleway';
                font-weight: bold;
                font-size: 20px;
                padding-top: 50px;
            }
            .article__text-2 {
                color: #A5A5A5;
                font-size: 17px;
            }
        }
    }
}

.cricle-red {
    background-color: #FB3B64;
}

.person {
    background: url(./../images/Person.svg);
}

.circle-blue {
    background-color: #08A6E4;
}

.eye {
    background: url(./../images/Eye.svg);
}

.circle-green {
    background-color: #55DFB4;
}

.catalog {
    background: url(./../images/Catalog.svg);
}